body {
  font-family: Arial;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
}

.display {
  width: 100%;
  height: 50px;
  font-size: 22px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
  gap: 10px;
}

button {
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.number {
  background: #e6e6e6;
}

.number:hover{
  background: #d6d6d6;
}
.operator {
  background: #4CAF50;
  font-size: 15px;
  color: #fff;
}

.operator:hover{
  background: #4dA051;
}
.clear {
  background: #f44336;
  color: #fff;
}

.clear:hover{
  background:#dd3a37 ;
}
.equals {
  background: #2196F3;
  color: #fff;
  grid-row: span 2;
  grid-column: 4;
  font-size: 15px;
}
.equals:hover{
  background: #1e81d3;
}

.zero {
  grid-column: span 2;
}